/* Common CSS */
body,
html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.card {
    position: static !important;
}

.immu-btn {
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px 30px;
    color: #ffffff;
}

.btn-more-information {
    background: #51B4A9;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 40px;
}

.btn-more-information:hover {
    color: #FFFFFF;
}

.errorlist {
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 25px;
}

.errorlist li {
    list-style: none;
    color: red;
    font-size: 12px;
}

.immu-btn:hover {
    border: 2px solid #51B4A9 !important;
    background-color: #51B4A9 !important;
    color: #ffffff;
}

.btn:focus {
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #51b4a9;
    border-color: #51b4a9;
}

/* Header CSS */
header {
    background: #FCFFFD;
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.logo {
    height: 80px;
    width: 80px;
}

.logo svg {
    height: 100%;
    width: 100%;
}

.btn-user-auth {
    text-decoration: none;
    border: 1px solid #51B4A9;
    box-sizing: border-box;
    border-radius: 10px;
}

.btn-user-auth:hover {
    border: 1px solid #51B4A9 !important;
    background-color: #51B4A9 !important;
}

.btn-user-auth:hover li {
    color: #ffffff !important;
}

.btn-user-auth li {
    list-style: none;
    padding: 10px 30px;
    color: #333333;
}

.menu-active {
    border: 2px solid #51B4A9 !important;
    background-color: #51B4A9 !important;
}

.menu-active li {
    color: #ffffff;
    background-color: #51B4A9 !important;
    border-radius: 30px;
}

.dropdown.dashboard-menu {
    min-width: 180px;
}

.menu ul,
.dashboard-menu ul {
    margin-top: none;
    margin-bottom: 0 !important;
}

.dashboard-menu ul a {
    text-decoration: none;
    color: #51b4a9;
    font-size: 18px;
}

.dashboard-menu ul a:hover {
    color: #333333;
}

.dashboard-menu-active {
    color: #333333 !important;
}

.dashboard-menu ul a li {
    list-style: none;
    padding-right: 25px;
}

.dropdown .dropdown-menu li {
    padding-right: 0;
}

.menu-profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.menu-profile-pic img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.user-profile-dropdown {
    right: 0 !important;
}

.notifications {
    margin-left: 40px;
    cursor: pointer;
    position: relative;
}

.notifications button {
    color: #03686C;
}

.notifications .dropdown-menu.notification-dropdown-box {
    padding: 0;
    max-height: 400px;
    min-height: 300px;
}

.notifications .dropdown-menu.notification-dropdown-box li p {
    padding: 25px 10px;
    margin-bottom: 0;
}

.notifications .dropdown-menu.notification-dropdown-box li:hover p {
    background: #03686C;
    color: #ffffff;
}
.notifications .dropdown-menu.notification-dropdown-box .notview {
    background: #023436;
    color: #ffffff;
}

#not-icon {
    position: absolute;
    top: 9px;
    left: 25px;
}

.not-icon-color{
    color: red;
}

.notification-dropdown-box {
    width: 600px;
}

.dropdown-menu.notification-dropdown-box li p {
    text-align: justify;
    padding: 0 20px;
}

/* Footer CSS */
footer {
    background: #FCFFFD;
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

footer a {
    color: #333333;
}

.footer-logo {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.footer-logo img {
    height: 100%;
    width: 100%;
}

.text-decoration-none:hover {
    color: #51b4a9 !important
}

.list-group li {
    list-style: none;
    padding: 5px
}

.footer-first-section {
    width: 250px;
}

.bottom-bar {
    background-color: #023436;
    color: #fff
}

.bottom-bar a:hover {
    color: #51B4A9 !important;
}