{% extends 'base.html' %}
{% load static %}
{% block title %}Regiater{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/register.css' %}">
{% endblock %}
{% block content %}
<section class="py-5 register-main-section">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="card users-card pb-5" action="{% url 'register' %}" method="POST" novalidate
                    {% if form.errors %}class="was-validated" {% endif %}>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="registration-title py-3 mb-5">
                        <p class="fs-5 text-center mb-0">Enrollee Registration</p>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="ms-5 me-5 alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}" role="alert">
                                <p class="text-center mb-0">
                                    {{ message }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="ms-5 me-5">
                        <div class="form-floating pb-3">
                            {{ form.firstName }}
                            <label class="form-label">{{ form.firstName.label }}</label>
                            {{ form.firstName.errors }}
                        </div>
                        <div class="form-floating pb-3">
                            {{ form.lastName }}
                            <label class="form-label">{{ form.lastName.label }}</label>
                            {{ form.lastName.errors }}
                        </div>
                        <div class="form-floating pb-3">
                            {{ form.email }}
                            <label class="form-label">{{ form.email.label }}</label>
                            {{ form.email.errors }}
                            <div id="emailHelp" class="form-text">{{ form.email.help_text }}</div>
                        </div>
                        <div class="form-floating pb-3">
                            {{ form.userName }}
                            <label class="form-label">{{ form.userName.label }}</label>
                            {{ form.userName.errors }}
                        </div>
                        <div class="form-floating pb-3">
                            {{ form.password }}
                            <label class="form-label">{{ form.password.label }}</label>
                            {{ form.password.errors }}
                        </div>
                        <div class="form-floating pb-3">
                            {{ form.confirmPassword }}
                            <label class="form-label">{{ form.confirmPassword.label }}</label>
                            {{ form.confirmPassword.errors }}
                        </div>
                        <div class="form-floating pb-3">
                            {{ form.nationality }}
                            <label class="form-label">{{ form.nationality.label }}</label>
                            {{ form.nationality.errors }}
                        </div>
                        <div class="form-floating pb-3">
                            {{ form.program }}
                            <label class="form-label">{{ form.program.label }}</label>
                            {{ form.program.errors }}
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="mt-3 btn immu-btn">Register</button>
                        <p class="mt-5 text-white">Already have an account? <a href="{% url 'login' %}"
                                class="text-decoration-none">Please
                                login.</a></p>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
{% endblock %}
