{% extends 'base.html' %}
{% load static %}
{% block title %}Forum{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forum/forum.css' %}">
{% block forumcss %}{% endblock %}
{% endblock %}
{% block content %}
<section>
    <div class="container py-5">
        <!-- Forum Page Error Message -->
        <div id="custom-errors"></div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}"
            role="alert">
            <p class="text-center mb-0">
                {{ message }}
            </p>
        </div>
        {% endfor %}
        {% endif %}
        <!-- Forum Page Search -->
        <div class="row my-3 align-items-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="{% url 'forum' %}" method="post" novalidate {% if form.errors %}class="me-1 was-validated"
                    {% else %}class="me-1" {% endif %}>
                    {% csrf_token %}
                    {{ search.non_fiels_errors }}
                    <div class="d-flex total-search-field">
                        {{ search.search }}
                        <div class="search-btn">
                            <button type="submit" class="btn" name="search-topic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    {{ search.search.errors }}
                </form>
            </div>
            <!-- Forum Page New Post Button -->
            <div class="col-md-3">
                <div class="create-posts d-flex justify-content-between align-items-center">
                    <button type="button" class="btn new-post-btn" data-bs-toggle="modal" data-bs-target="#addQuestions">New Post</button>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Forum Page Menu -->
            <div class="col-md-3">
                <ul class="mt-5 list-group">
                    <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                        </svg>
                        <li class="ms-3">Home</li>
                    </a>
                    <a href="{% url 'message' %}" class="{% if request.resolver_match.url_name == 'message' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                        <li class="ms-3">Message</li>
                    </a>
                    <a href="{% url 'group-message' %}" class="{% if request.resolver_match.url_name == 'group-message' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                        </svg>
                        <li class="ms-3">Groups</li>
                    </a>
                    <a href="{% url 'all-post-user' %}" class="{% if request.resolver_match.url_name == 'all-post-user' or request.resolver_match.url_name == 'edit-single-post' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                        <li class="ms-3">My Contibutions</li>
                    </a>
                    <a href="#" class="{% if request.resolver_match.url_name == 'forum' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass-fill" viewBox="0 0 16 16">
                            <path d="M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.503 7.503 0 0 1 5.538 7.24zm-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"/>
                        </svg>
                        <li class="ms-3">More Topics</li>
                    </a>
                    <a href="{% url 'bookmarks' %}" class="{% if request.resolver_match.url_name == 'bookmarks' %}active{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                        </svg>
                        <li class="ms-3">Bookmarks</li>
                    </a>
                </ul>
            </div>
            <!-- Global Forum Section -->
            {% block forum%}{% endblock %}
            <!-- Global Forum Section End -->
        </div>
    </div>
</section>
<!-- New Post Maker -->
<section>
    <div class="container">
        <form action="{% url 'forum' %}" method="POST" novalidate
        {% if new_post_form.errors %}class="was-validated" {% endif %}>
            {% csrf_token %}
            {{ new_post_form.non_field_errors }}
            <div class="modal fade" id="addQuestions" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content modal-content-add-questions">
                    <div class="modal-header py-4">
                      <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-question-header">
                        <div class="d-flex align-items-center">
                            <div class="post-head-img">
                                <img src="{{ user.userinfo.profilepic.url }}" alt="{{ user.username }}">
                            </div>
                            <div class="author-details ms-3">
                                <p class="mb-0"><small class="text-muted text-capitalize">{{ user.username }}</small>
                                </p>
                            </div>
                        </div>
                        <select name="ask_type" class="ask-type">
                            <option value="ask anonymously">Immigration</option>
                            <option value="ask anonymously">Visa</option>
                        </select>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating pb-3">
                            {{ new_post_form.title }}
                            <label class="form-label">Post Title</label>
                            {{ new_post_form.title.errors }}
                        </div>
                        <div class="form-floating">
                            {{ new_post_form.post_description }}
                            <label class="form-label">Post Descriptions</label>
                            {{ new_post_form.post_description.errors }}
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn new-post-btn" name="new-post">New Post</button>
                      <button type="button" class="btn new-post-btn" data-bs-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/forum/forum.js' %}"></script>
{% block forumjs %}{% endblock %}
{% endblock %}