{% extends 'forumbase.html' %}
{% load static %}
{% block title %}Search Forum{% endblock %}
{% block forumcss%}
<style>
    
</style>
{% endblock %}

{% block forum %}
    {% if search_content %}
        <div class="col-md-6">
            <div class="mt-5" style="margin-left: 230px;">
                <h1 class="text-center">You are searching by:</h1>
                <p class="text-center fs-5 search-element"><q>{{ search_content }}</q></p>
            </div>
            {% if search_data %}
                {% for post in search_data %}
                <div class="main-forum-back">
                    <div class="card forum-card py-4 ps-4 pe-4 mt-5">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="post-head-img">
                                    <img src="{{ post.user.userinfo.profilepic.url }}" alt="{{ post.user.username }}">
                                </div>
                                <div class="author-details ms-3">
                                    <p class="mb-0"><small class="text-muted text-capitalize">{{ post.user.first_name }} {{ post.user.last_name }}</small></p>
                                    <p class="mb-0"><small class="text-muted">{{ post.post_date }}</small></p>
                                </div>
                            </div>
                            <div class="all-tags">
                                <div class="d-flex">
                                    <p class="me-1">Immigration</p>
                                    <p class="ms-1">Visa</p>
                                </div>
                            </div>
                        </div>
                        <p class="fs-5 my-3 long-post-title">{{ post.title }}</p>
                        <p class="card-text text-justify long-post-discription">{{ post.post_description }}</p>
                        <div class="d-flex justify-content-between">
                            <div class="like-users-pics d-flex">
                                {% for pics in post.like.all|slice:3 %}
                                    <div class="single-like-user-pic">
                                        <img src="{{ pics.userinfo.profilepic.url }}" alt="{{ pics.username }}">
                                    </div>
                                {% endfor %}
                                <div class="single-like-user-pic single-like-user-pic-value">
                                    <span class="ps-1">+{{ post.like.all.count }}</span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="d-flex align-items-center like post-like"
                                    post-like-url="{% url 'users_likes' %}" post-id="{{ post.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                    <span class="ms-2 like-count">{{ post.total_likes.count }}</span>
                                </div>
                                <div class="ms-5 d-flex align-items-center post-comment" post-id="{{ post.id }}"
                                    post-url="{{ post.post_url }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                                    </svg>
                                    <span class="ms-2 total-comment-count">{{ post.forum_comments.count }}</span>
                                </div>
                                <div class="ms-5 mt-2 move-to-bookmarks" post-bookmark-url="{% url 'bookmarks' %}" post-id="{{ post.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                    </svg>
                                </div>
                                <div class="ms-5 mt-2 three-dots">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment Sections -->
                    <div class="total-comment-history py-3">
                        <div class="d-flex justify-content-between ps-3 pe-3">
                            <input type="text" placeholder="Add A Comment" class="form-control comment-input">
                            <button type="button" class="btn comment-btn" comment-id="{{ post.id }}"
                                comment-url="{% url 'users_comments' %}">Add Comment</button>
                        </div>
        
                        <div class="all-comments mt-3" id="all-comments-id">
                            {% for single_comment in post.forum_comments.all|dictsortreversed:'comment_date' %}
                                <div class="comment py-3 ps-5 pe-5">
                                    <div class="d-flex">
                                        <div class="post-head-img">
                                            <img src="{{ single_comment.person.userinfo.profilepic.url }}"
                                                alt="{{ single_comment.person.username }}">
                                        </div>
                                        <div class="author-details ms-3">
                                            <p class="mb-0"><small
                                                    class="text-muted text-capitalize">{{ single_comment.person.username }}</small>
                                            </p>
                                            <p class="mb-0"><small class="text-muted">{{ single_comment.comment_date }}</small>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="my-3 text-justify">{{ single_comment.comment_body }}</p>
                                    <div class="d-flex align-items-center comment-like"
                                        comment-like-url="{% url 'users_comment_likes' %}"
                                        comment-id="{{ single_comment.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                        </svg>
                                        <span
                                            class="ms-2 comment-like-count">{{ single_comment.total_comment_likes }}</span>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="text-center py-5 mb-5" style="color: red;margin-left: 230px;">Nothing Found by <q>{{ search_content }}</q></p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}